@use "main";

:export {
  fillStyle: main.$yellow;
  strokeStyle: main.$yellow;
}

.wrapper {
  @apply w-full px-5;
  max-width: main.em(1000);
  margin: 0 auto;
}

.logo {
  height: main.em(40);
  width: auto;
}

.arrow {
  @apply select-none absolute pointer-events-none;
  left: 9%;
  top: 1em;
  width: 6.5959375rem;
  height: 1.8565625rem;
  transform: rotate(40deg);

  &__img {
    width: main.em(200);
    height: main.em(100);
  }

  @include main.breakpoint-up(medium) {
    width: 8.5959375em;
    left: 25%;
    top: 2em;
    transform: rotate(40deg);
  }

  @include main.breakpoint-up(large) {
    width: 12.5em;
    left: -14em;
    top: 11em;
    transform: rotate(0deg);
  }
}

.primaryButton {
  @apply flex items-center touch-auto justify-center relative font-semibold overflow-hidden;
  $btn-font: 22;
  text-decoration: none;
  margin-bottom: main.em(40, $btn-font);
  width: main.em(240, $btn-font);
  height: main.em(240, $btn-font);
  font-size: main.em($btn-font);
  color: main.$white;
  background: main.$primary;
  border-radius: 200px;
  letter-spacing: 0.01em;
  transition: background 0.4s ease, color 0.3s ease, border 0.3s ease;

  @include main.breakpoint-down(small) {
    @apply flex items-center justify-center gap-2;
    $btn-font: 18;
    width: main.em(160, $btn-font);
    height: main.em(160, $btn-font);
    font-size: $btn-font;
    flex-shrink: 0;
    line-height: 120%;
  }

  // creating stacking context so to fix pseudo element stacking
  isolation: isolate;

  &::before {
    content: "";
    position: absolute;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    background: main.$white;
    border-radius: 100% 100% 0 0;
    left: -1px;
    top: -1px;
    transform: scaleY(0) translateZ(0);
    transform-origin: bottom center;
    transition: transform 0.4s main.$ease 40ms, border-radius 0.5s main.$ease;
    z-index: -1;
  }

  @include main.breakpoint-up(large) {
    &:hover {
      color: black;

      &::before {
        border-radius: 10em;
        transform: scaleY(1) translateZ(0);
        svg path {
          fill: white;
        }
      }
    }
  }
}

.social {
  width: main.em(26);
  height: main.em(26);
  color: main.$primary;
  transition: color 0.3s ease;

  @include main.breakpoint-up(large) {
    &:hover {
      color: main.$dark-blue;
    }
  }
}

.copyLink {
  @include main.breakpoint-up(large) {
    &:hover {
      color: #fa6257;
    }
  }
}

.copiedText {
  position: absolute;
  color: main.$white;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.01em;
  padding: main.em(8px) main.em(20px);
  background-color: main.$black;
  border-radius: 200px;
  white-space: nowrap;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -100%);
}

.copiedText::before {
  content: "";
  position: absolute;
  border-top: 17px solid main.$black;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  left: 46px;
  top: 29.25px;
}
