@use "main";

.wrapper {
  @apply w-full px-5;
  max-width: main.em(1000);
  margin: 0 auto;
}

.logo {
  height: main.em(40);
  width: auto;
}

.logoTitle {
  @apply text-center font-medium;
  color: main.$black;
  font-size: main.em(22);
  line-height: 150%;
  letter-spacing: -0.01em;
  text-align: center;

  @include main.breakpoint-down(small) {
    @apply text-center font-medium;
    font-size: main.em(18);
    font-style: normal;
    line-height: 150%; /* 27px */
  }
}

.arrow {
  @apply select-none;
  position: absolute;
  right: main.em(-72);
  bottom: 0;

  &__img {
    width: main.em(200);
    height: main.em(100);
  }

  
  @include main.breakpoint-down(medium) {
    width: 10.5959375em;
    left: 10%;
    transform: rotate(40deg);
    bottom: -59%;
  }

  @include main.breakpoint-down(small) {
    width: 6.5959375rem;
    height: 1.8565625rem;
    left: 9%;
    transform: rotate(40deg);
    bottom: -29%;
  }
}

.primaryButton {
  @apply flex items-center touch-auto justify-center relative font-semibold overflow-hidden;
  $btn-font: 22;
  text-decoration: none;
  margin-bottom: main.em(40, $btn-font);
  width: main.em(240, $btn-font);
  height: main.em(240, $btn-font);
  font-size: main.em($btn-font);
  color: main.$white;
  background: main.$primary;
  border-radius: 200px;
  letter-spacing: 0.01em;
  transition: background 0.4s ease, color 0.3s ease, border 0.3s ease;

  @include main.breakpoint-down(small) {
    @apply flex items-center justify-center gap-2;
    $btn-font: 18;
    width: main.em(160, $btn-font);
    height: main.em(160, $btn-font);
    font-size: $btn-font;
    flex-shrink: 0;
    line-height: 120%;
  }

  // creating stacking context so to fix psudo element stacking
  isolation: isolate;

  &::before {
    content: "";
    position: absolute;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    background: main.$white;
    border-radius: 100% 100% 0 0;
    left: -1px;
    top: -1px;
    transform: scaleY(0) translateZ(0);
    transform-origin: bottom center;
    transition: transform 0.4s main.$ease 40ms, border-radius 0.5s main.$ease;
    z-index: -1;
  }

  &:hover {
    color: main.$dark-blue;
    &::before {
      border-radius: 10rem;
      transform: scaleY(1) translateZ(0);
    }
  }
}

.social {
  width: main.em(26);
  height: main.em(26);
  color: main.$primary;
  transition: color 0.3s ease;

  &:hover {
    color: main.$dark-blue;
  }
}
