<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />

  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <meta name="description"
    content="Put your cancer knowledge to the test in this fun and interactive quiz game brought to you by Ottr." />

  <meta property="og:title" content="Cancer Insights Challenge by Ottr" />
  <meta property="og:description"
    content="Put your cancer knowledge to the test in this fun and interactive quiz game brought to you by Ottr." />

  <meta property="og:image"
    content="https://res.cloudinary.com/dnx4kbtoc/image/upload/v1695220205/cancer-insights-challenge/cancer-insights-challenge-landing-screen.webp" />
  <meta property="og:image:width" content="1400" />
  <meta property="og:image:height" content="900" />
  <meta property="og:image:alt" content="Landing page of Cancer Insights Challenge by Ottr" />

  <meta property="og:site_name" content="Cancer Insights Challenge" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="website" />

  <% if (env.PROD || env.VITE_ENABLE_GOOGLE_ANALYTICS==="true") { %>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-FBM2GHD9ZX"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-FBM2GHD9ZX');
  </script>
  <% } %>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Figtree:wght@400..700&display=swap" rel="stylesheet">

  <title>Cancer Insights Challenge | Ottr</title>
</head>

<body>
  <div id="root"></div>
  <script type="module" src="/src/main.tsx"></script>
</body>

</html>