@use "main";

.container {
  display: flex;
  gap: main.em(40px);
  flex-direction: column;
  position: relative;
  width: main.em(728px);
  padding-top: main.em(80);

  @include main.breakpoint-down(small) {
    width: main.em(335px);
    padding-top: main.em(56);
  }
}

.innerContainer {
  @apply flex justify-center text-center;
  padding-top: main.em(104px);
  padding-bottom: main.em(40px);
  background-color: main.$yellow;

  @include main.breakpoint-down(small) {
    padding-top: main.em(88px);
    padding-bottom: main.em(32px);
  }
}

.image {
  @apply flex justify-center absolute top-0;
  height: main.em(160);
  width: main.em(160);

  @include main.breakpoint-down(small) {
    height: main.em(112);
    width: main.em(112);
  }
}

.score {
  @extend .ca-heading--one;
  font-weight: 550;
}

.gameOver {
  @apply flex flex-col justify-center text-center;
  gap: main.rem(48px);
  background-color: main.$yellow;
}

.gameOverImg {
  height: main.rem(200px);
}
