@use "main";

.container {
  display: flex;
  gap: main.em(40px);
  flex-direction: column;
  position: relative;
  width: main.em(335px);
  padding-top: main.em(56);

  @include main.breakpoint-up(small) {
    width: main.em(728px);
    padding-top: main.em(80);
  }
}

.innerContainer {
  @apply flex justify-center text-center;
  background-color: main.$yellow;
  padding-top: main.em(88px);
  padding-bottom: main.em(32px);

  @include main.breakpoint-up(small) {
    padding-top: main.em(104px);
    padding-bottom: main.em(40px);
  }
}

.image {
  @apply flex justify-center absolute top-0;
  height: main.em(112);
  width: main.em(112);

  @include main.breakpoint-up(small) {
    height: main.em(160);
    width: main.em(160);
  }
}

.score {
  @extend .ca-heading--one;
  font-weight: 550;
}
