@use "main";

.resultSection {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 72px 6rem 4rem 6rem;
  background-color: main.$light-yellow;
}

.resultContainer {
  padding-top: 4rem;
  position: relative;
}

.resultImg {
  @apply absolute top-0;
  display: flex;
  justify-content: center;
  height: 8rem;
  width: 8rem;
}
.correctAns {
  font-size: 2.75rem;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: main.$green;
}
.wrongAns {
  font-size: 2.75rem;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: main.$red;
}
