@use "main";

$header-height: 5.5em;
$header-height--mobile: 3.8em;
$action-container-height: 10em;
$action-container-height--mobile: 8em;

.body {
  @apply flex justify-center text-center;
  padding: main.em(72) main.em(16) main.em(48);
  background-color: main.$light-yellow;

  @include main.breakpoint-up(large) {
    padding: main.em(74) main.em(96) main.em(56);
  }

  @include main.breakpoint-up(small) {
    padding: main.em(72) main.em(32) main.em(48);
  }
}

.container {
  @apply flex justify-center items-center m-auto;

  min-height: calc(
    100% - $header-height--mobile - $action-container-height--mobile
  );
  padding: 1.5rem 0;

  @include main.breakpoint-up(medium) {
    min-height: calc(100% - $header-height - $action-container-height);
  }
}

.wrapper {
  position: relative;
  max-width: main.em(343px);
  padding-top: main.em(48);

  @include main.breakpoint-up(large) {
    max-width: main.em(912px);
  }

  @include main.breakpoint-up(small) {
    max-width: main.em(650);
    padding-top: main.em(64);
  }
}

.image {
  @apply absolute top-0 flex justify-center;
  height: main.em(96);
  width: main.em(96);

  @include main.breakpoint-up(small) {
    height: main.em(116);
    width: main.em(116);
  }
}

.correctAnswer {
  @extend .ca-heading--two;
  color: main.$green;
}

.wrongAnswer {
  @extend .ca-heading--two;
  color: main.$red;
}
