// $primary: #ffb704;
// $secondary: #3a68d6;
// $dark: #223240;
// $primary-light: #ffce52;
// $dark-gray: #484848;
// $light-gray: #757575;
// $very-light-gray: #f6f6f6;
// $inactive-gray: #aaaaaa;
// $off-white: #f3f3f3;
// $border: #e1e1e1;
// $outline: #b4b4b4;
// $error: red;
// $neutral-black: #1e1e1e;
// $faded-dark: #343434;

// $font-merriweather: "Merriweather", serif;

// $expo-ease-out: cubic-bezier(0.19, 1, 0.22, 1);
// $expo-ease-in-out: cubic-bezier(1, 0, 0, 1);

$primary: #470FF4;
$dark-yellow: #F6CA73;
$light-yellow: #F7E9C1;
$blue: #1E2675;
$dark-blue: #262730;

$font-figtree:'Figtree', sans-serif;