@use "main";

:export {
  life: main.$primary;
  lifeLost: #edcda6;
}

.life {
  width: main.em(40);
  height: main.em(40);

  @include main.breakpoint-down(small) {
    width: main.em(24);
    height: main.em(24);
  }
}
