@use "main";

:export {
  lifeColor: main.$primary;
  lifeLostColor: #edcda6;
}

.life {
  width: main.em(24);
  height: main.em(24);

  @include main.breakpoint-up(small) {
    width: main.em(40);
    height: main.em(40);
  }
}
