@use "main";

.container {
  @apply flex items-center;
  gap: main.em(12);
}

.label {
  font-size: 18px;
  font-weight: 600;

  @include main.breakpoint-up(small) {
    font-size: main.em(22);
  }
}

.awardImg {
  width: main.em(24);
  height: main.em(24);

  @include main.breakpoint-up(small) {
    width: main.em(40);
    height: main.em(40);
  }
}
