@use "main";

.container {
  @apply flex items-center;
  gap: main.em(12);
}

.label {
  font-size: main.em(22);
  font-weight: 600;

  @include main.breakpoint-up(xlarge) {
    font-size: main.em(28);
  }

  @include main.breakpoint-down(small) {
    font-size: 18px;
  }
}

.awardImg {
  width: main.em(40);
  height: main.em(40);

  @include main.breakpoint-up(xlarge) {
    width: main.em(60);
    height: main.em(60);
  }

  @include main.breakpoint-down(small) {
    width: main.em(24);
    height: main.em(24);
  }
}
