@use "functions";
@use "variables";

.ca-min-h-screen {
  min-height: 100vh;
  min-height: 100dvh;
}

.ca-h-screen{
  height: 100vh;
}

.ca-header-container {
  width: functions.em(1264);

  @include variables.breakpoint-down(large) {
    max-width: functions.em(981);
  }

  @include variables.breakpoint-down(medium) {
    max-width: functions.em(650);
  }

  @include variables.breakpoint-down(small) {
    max-width: functions.em(343);
  }
}
