@forward "variables";
@forward "typography";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Figtree', sans-serif;
  color: #262730;
  background-color: #E6E5CF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}