@tailwind base;
@tailwind components;
@tailwind utilities;

@forward "variables";
@forward "functions";
@forward "typography";
@forward "spacing";
@forward "helpers";

:root {
  color: rgba(255, 255, 255, 0.87);
  font-family: 'Figtree', sans-serif;
  background-color: variables.$lightYellow-color;

  background-image: url('../assets/pattern.svg');
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}