.quiz_screen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.quiz_content {
    display: flex;
    // flex-direction: column;
    justify-content: center;
    // align-content: center;
    // flex-wrap: wrap;
}

.quiz_container {
    padding-top: 7.5rem;
    position: relative;
}

.quiz_img {
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
}

.quiz_question {
    display: flex;
    justify-content: center;
    background-color: $light-yellow;
    text-align: center;
}

.result_container {
    padding-top: 4rem;
    position: relative;
}

.result_img{
    display: flex;
    justify-content: center;
    height: 8rem;
    width: 8rem;
}

.result_info{
    display: flex;
    flex-direction: column;
}
