.container-w {
    // margin: 2.75rem auto;
    width: 912px;
}

.question-text-p {
    padding: 10.5rem 6rem 5rem 6rem;
}

.question-img-m {
    height: 15rem;
    width: 15rem;
}


.result-p {
    padding: 4.5rem 6rem 4rem 6rem;
}

.answer-mb {
    margin-bottom: 1.5rem;
}

.explain-mb{
    margin-bottom: 2rem;

}


