@use "variables";
@use "functions";
// p,
// span {
//   font-size: functions.em(16px);
//   line-height: 150%;
// }

/*
* Debug styles for home page
*/
// .select-none {
//   user-select: auto !important;
// }
// .pointer-events-none {
//   pointer-events: all !important;
// }
// .lg\:pointer-events-none {
//   pointer-events: unset !important;
// }

body {
  line-height: 170%;
  background-color: variables.$light-yellow;
  background-color: variables.$yellow;
  background-image: url("../assets/backgroundPattern.svg");
  height: 100vh;

  font-size: 1vw;

  @media screen and (min-width: 1920px) {
    font-size: 19.2px; 
  }
   @media screen and (max-width:1600px) {
    font-size: 16px;
   }
}

.ca {
  &-heading {
    @apply font-semibold;
    letter-spacing: -0.01em;
    color: variables.$black;

    &--one {
      @extend .ca-heading;
      font-size: functions.em(82);
      line-height: 100%;
      letter-spacing: -0.03em;
    }

    &--two {
      @extend .ca-heading;
      font-size: functions.em(40px);
      font-weight: 650;
      line-height: 120%;
      letter-spacing: -0.01em;
    }

    &--three {
      @extend .ca-heading;
      font-size: functions.em(32px);
      line-height: 130%;
    }
  }

  &-body {
    &--md {
      color: variables.$black;
      font-size: functions.em(20px);
      font-weight: 400;
      line-height: 150%;
      letter-spacing: -0.01em;
    }

    &--sm {
      color: variables.$black;
      font-size: functions.em(18px);
      font-weight: 400;
      line-height: 140%;
      letter-spacing: -0.01em;
    }
  }

  &-misc {
    &--points {
      font-size: functions.em(48px);
      font-weight: 600;
      line-height: 100%;
    }

    &--button-text {
      font-weight: 550;
      font-size: 1em;
      line-height: 120%;
    }

    &--link {
      @apply underline underline-offset-4;
      font-weight: 550;
      font-size: functions.em(20px);
      line-height: 120%;
      letter-spacing: -0.01em;
      color: variables.$primary;
    }
  }
}

.ca-text {
  &--black-70 {
    color: rgba(variables.$black, 0.7);
  }

  &--black-80 {
    color: rgba(variables.$black, 0.8);
  }
}
