$primary: #470ff4;
$dark-yellow: #f6ca73;
$light-yellow: #f7e9c1;
$blue: #1e2675;
$dark-blue: #262730;
$white: #ffffff;
$green: #00886b;
$red: #cb4549;
$yellow: #ffda91;

$ease:cubic-bezier(.5,0,0,1)
