$primary: #470ff4;
$dark-yellow: #f6ca73;
$light-yellow: #f7e9c1;
$dark-blue: #1e2675;
$black: #262730;
$white: #ffffff;
$green: #00886b;
$red: #cb4549;
$yellow: #ffda91;

$ease: cubic-bezier(0.5, 0, 0, 1);

// $breakpoints: (
//   "phone": 640px,
//   "tablet": 920px,
//   "desktop": 1024px,
//   "desktop-xl": 1280px,
// ) !default;

$breakpoints-up: (
  "medium": "40em",
  "large": "64em",
  "xlarge": "150em",
);

$breakpoints-down: (
  "small": "39.9375em",
  "medium": "63.9375em",
  "large": "81.51em",
  "xlarge": "87.4375em",
);

@mixin breakpoint-up($size) {
  @media (min-width: map-get($breakpoints-up,$size)) {
    @content;
  }
}

@mixin breakpoint-down($size) {
  @media (max-width: map-get($breakpoints-down,$size)) {
    @content;
  }
}
