@use "main";

.gameOver {
  @apply flex flex-col justify-center h-screen w-full text-center absolute top-0 left-0 z-10;
  gap: main.rem(48px);
  background-color: main.$yellow;
  background-image: url("../..//../assets/backgroundPattern.svg");
}

.gameOverImg {
  height: main.rem(200px);
}
