@use "main";

.wrapper {
  @apply flex flex-col justify-center opacity-0 invisible h-screen w-full text-center absolute z-10;
  gap: main.rem(48px);
  background-color: main.$yellow;
  background-image: url("../../../assets/backgroundPattern.svg");
}

.img {
  height: main.rem(200px);

  @include main.breakpoint-down(small) {
    height: main.rem(120px);
  }
}

.gameOverText {
  color: main.$red;
}

.congratulationsText {
  color: main.$green;
}
