@use "main";

.mainWrapper {
  @apply h-screen w-screen absolute flex items-center justify-center;
  background-color: rgba(main.$black, 0.7);
  z-index: 3;
}

.wrapper {
  background-color: main.$light-yellow;
  padding: main.em(24) main.em(24) main.em(40) main.em(24);
  width: main.em(343);
  border-radius: main.em(12px);

  @include main.breakpoint-up(small) {
    padding: main.em(32px) main.em(40px) main.em(48px) main.em(40px);
    width: main.em(474px);
  }
}

.shareText {
  font-size: main.em(18);
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.01em;

  @include main.breakpoint-up(small) {
    font-size: main.em(22px);
  }
}

.shareContainer {
  @apply flex flex-col items-center;
  gap: main.em(6);
  width: main.em(74);

  @include main.breakpoint-up(small) {
    gap: main.em(8);
    width: main.em(80);
  }
}

.shareButton {
  @apply flex justify-center items-center;
  width: main.em(48);
  height: main.em(48);
  border-radius: main.em(200px);
  background-color: main.$primary;

  @include main.breakpoint-up(small) {
    width: main.em(72px);
    height: main.em(72px);
  }
}

.closeBtn {
  width: main.em(24);
  height: main.em(24);

  @include main.breakpoint-up(small) {
    width: main.em(28);
    height: main.em(28);
  }
}

.shareIcon {
  width: main.em(24);
  height: main.em(24);
  fill: main.$white;

  @include main.breakpoint-up(small) {
    width: main.em(32);
    height: main.em(32);
  }
}

.hideForDesktop {
  display: none;
}
