@use "main";

.btnContainer {
  display: flex;
  justify-content: center;
  margin-bottom: main.rem(96px);
  gap: main.rem(64px);
}

.btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background-color: main.$white;
}

.btnIcon {
  @extend .btn;
  border-radius: main.rem(125px);
  height: main.rem(120px);
  width: main.rem(120px);
}

.btnNext {
  @extend .btn;
  color: main.$dark-blue;
  width: main.rem(180px);
  border-radius: main.rem(125px);
  font-size: main.rem(24px);
  padding-top: main.rem(20px);
  padding-bottom: main.rem(20px);
  gap: main.rem(12px);
}
