@use "main";

.btn {
  @apply flex flex-wrap justify-center content-center items-center;
  position: relative;
  color: black;
  background: white;
  border-radius: main.em(125px);
  overflow: hidden;
  transition: background 0.4s ease, color 0.3s ease, border 0.3s ease;
  isolation: isolate;

  &::before {
    content: "";
    position: absolute;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    background: black;
    border-radius: 100% 100% 0 0;
    left: -1px;
    top: -1px;
    transform: scaleY(0) translateZ(0);
    transform-origin: bottom center;
    transition: transform 0.4s main.$ease 40ms, border-radius 0.5s main.$ease;
    z-index: -1;
  }

  &:hover {
    color: white;

    &::before {
      border-radius: 10em;
      transform: scaleY(1) translateZ(0);
      svg path {
        fill: white;
      }
    }
  }

  &.medium {
    $btn-font: 22;
    @extend .btn;
    font-size: main.em($btn-font);
    padding: 0 main.em(32, $btn-font) 0 main.em(40, $btn-font);
    gap: main.em(12, $btn-font);
    height: main.em(80, $btn-font);

    @include main.breakpoint-down(small) {
      font-size: 16px;
      height: 56px;
      padding: 0 24px 0 32px;
      gap: 8px;
    }

    > svg {
      height: main.em(28, $btn-font);
      width: main.em(28, $btn-font);

      @include main.breakpoint-down(small) {
        height: main.em(20);
        width: main.em(20);
      }
    }
  }

  &.fixed-width {
    $btn-font: 22;
    font-size: main.em($btn-font);
    width: main.em(256, $btn-font);
    height: main.em(80, $btn-font);
    justify-content: center;
    align-items: center;

    @include main.breakpoint-down(small) {
      width: 180px;
      height: 56px;
    }
  }

  &.primary {
    background-color: main.$primary;
    color: white;
  }
}

.btnIcon {
  @extend .btn;
  height: main.em(104);
  width: main.em(104);

  @include main.breakpoint-down(small) {
    height: main.em(80);
    width: main.em(80);
  }

  > svg {
    height: main.em(48);
    width: main.em(48);

    @include main.breakpoint-down(small) {
      height: main.em(40);
      width: main.em(40);
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    background: main.$primary;
  }
}

.btnGameOver {
  @extend .btn;
  width: main.rem(280px);
  height: main.rem(80px);
  padding: 20px 40px;
  justify-content: center;
  align-items: center;
}

.btnShare {
  @extend .btnGameOver;
  background-color: main.$primary;
  color: main.$white;
}
